body {
    background: #222;
    color: #f3f3f3;
    font-family: Helvetica, sans-serif;
}

.card {
    background: #121212;
    border-radius: 10px;
    padding: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}
@media (max-width: 400px) {
    #c1 {
        background: red;
    }
}
