html {
    background: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color:#242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size" 3mm;
    margin: 0;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
}







body {
    min-height: 50em;
}

.sticky, .position-demo {
    color: #F0EAE7;
    padding: 20px;
}
  
.sticky {
    background: #895B4A;
    position: sticky;
    top: 0;
}
  
  
  




body {
    color: white;
}
  
header {
    background: #ccc;
    
}
  
section {
    background: #ccc;
    display: flex;
}
  
article {
    background: #999;
    padding: 20px;
    margin: 20px;
}
  
article:nth-of-type(1) {
    
}
  
article:nth-of-type(2) {
    
}






.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    background: #ccc;
}
  
.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}
  
.navigation a:hover {
    background: #1565C0;
}
  
@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}
  
@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
}
.navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}
.navigation li:last-of-type a {
      border-bottom: none;
}
  
  

  